<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title>text.html</title>
</head>

<body> </body>

</html>
<script>
  let array = [1, 1, 1, 1, 2, 3, 4, 4, 5, 3];
  let array1 = [1, 1, 1, 1, 2, 3, 4, 4, 5, 3];
  let set = new Set(array);
  // console.log(set);
  let set1 = [...new Set(array1)];
  // console.log(set1);
  var mark =  ["116,104,101", "117,104,101", "150,104,101"];
  var str = mark.toString();
  // console.log(str);

  var mark1 =  ["116,104,101", "117,104,101", "150,104,101"];
  var str1 = mark1.join();
  console.log(str1);

</script>
